body {
display: flex;
justify-content: center;
background: rgb(0, 210, 179);
color: rgb(169, 169, 182);
font-family: 'Julius Sans One', sans-serif;
/* box-shadow: inset 0px 0px 60px 30px rgba(0, 0, 0, 0.514); */
margin: 0px;
height: 100%;
}

html {
    height: 100%;
}

.todobox {
margin-top: 200px;
margin-bottom: auto;
background: white;
width: 500px;
border-radius: 10px;
box-shadow: 20px 20px 70px 2px rgba(0, 0, 0, 0.329)
/* padding: auto;
padding-left: 50%;
justify-content: center; */
}

h1 {
margin-left: auto;
margin-right: auto;
width: 180px;
font-size: 50px;
}
.addpart {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 2px solid rgb(169, 169, 182);
    position: relative;
    border-radius: 3px;
    margin-bottom: 30px;
}
input {
height: 40px;
width: 350px;
margin: 0px;
border: none;
color: rgb(169, 169, 182);
padding-left: 10px;
font-family: 'Julius Sans One', sans-serif;
}

.adder {
margin-right: 0;
right: 0;
position: absolute;
font-weight: bold;
font-size: 20px;

    /* margin: 10px 0;
margin-right: auto;
*/
padding-right: 20px;
padding-left: 20px;
height: 42px;
border: none; 
background: rgb(223, 96, 255);
color: white;
cursor: pointer;
font-family: 'Julius Sans One', sans-serif;
font-size: 15px;
}

button:hover {
    background: rgb(162, 82, 182);

}

ul {
margin-right: 500px;
}


li {
    margin-left: 25px;
    margin-bottom: 20px;
    width: 300px;
    position: relative;
    word-wrap: break-word;
    /* padding-right: 100px; */
    /* display: flex; */
}
.torlesgomb {
position: absolute;
right: -50px;
top: -8px;
}
.pipagomb {
    position: absolute;
    right: -100px;
    top: -8px;
    /* color: rgb(214, 214, 214); */
    }




.fa-check-circle {
color: rgb(169, 182, 171);
font-size: 30px;
/* padding-top: 0px; */
    }

.fa-check-circle:hover {
    color: rgb(95, 175, 107);
    font-size: 30px;
    cursor: pointer;
}    

.fa-trash-alt {
    color: rgb(169, 182, 171);
font-size: 30px;
}

.fa-trash-alt:hover {
    color: rgb(184, 106, 106);
    cursor: pointer;
}



















/* input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
} */

/* label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
} */
/* 
input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}

// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */