body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  width: 550px;
}

form {
  background-color: #ebbcbb;
  width: 350px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 20px 20px 0px #8390cc;
}

p {
  margin-bottom: 40px;
}

#title {
  font-size: 30px;
}

label {
  margin-left: 20px;
}

input {
  margin-bottom: 15px;
}

#selectedmovie {
  color: #8390cc;
}

select {
  height: 50px;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
  width: 170px;
}
