.grid {
    display:flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 60% 1fr;
    gap: 10px;
    background-color: rgb(196, 0, 196);
    padding: 10px;
}

.cell1, .cell3{
    background-color: rgb(255, 225, 0);
}
.cell2{
    background-color: rgb(26, 193, 0);
}